In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import os
import re
import numpy as np
import pandas as pd
from chart_studio import plotly as py
import plotly.figure_factory as ff
from scipy import stats

import gensim
import json


import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer

import itertools

import keras

from keras.models import Sequential, Model
from keras.layers import Dense, Dropout, Embedding, LSTM, Input, Activation, GlobalAveragePooling1D, Flatten, Concatenate, Conv1D, MaxPooling1D
from keras.layers.normalization import BatchNormalization
from keras.layers.merge import concatenate
from keras.optimizers import SGD, RMSprop, Adagrad, Adam
from keras.preprocessing.text import one_hot, text_to_word_sequence, Tokenizer
from keras.preprocessing.sequence import pad_sequences

from keras.callbacks import EarlyStopping, ModelCheckpoint
from keras.utils.vis_utils import plot_model

import fnmatch

import warnings

import string
from pathlib import Path
from random import shuffle
from ast import literal_eval

warnings.filterwarnings('ignore')

Using TensorFlow backend.

In [2]:
wordnet_lemmatizer = WordNetLemmatizer()

In [3]:

WINDOWS_SIZE = 10
labels=['none','mild','moderate','moderately severe', 'severe']
num_classes = len(labels)

In [4]:
def plot_acc(history, title="Model Accuracy"):
    plt.plot(history.history['acc'])
    plt.plot(history.history['val_acc'])
    plt.title(title)
    plt.ylabel('Accuracy')
    plt.xlabel('Epoch')
    plt.legend(['Train', 'Val'], loc='upper left')
    plt.show()
    
def plot_loss(history, title="Model Loss"):
    plt.plot(history.history['loss'])
    plt.plot(history.history['val_loss'])
    plt.title(title)
    plt.ylabel('Loss')
    plt.xlabel('Epoch')
    plt.legend(['Train', 'Val'], loc='upper right')
    plt.show()
    
def plot_compare_losses(history1, history2, name1="Red 1", name2="Red 2", title="Graph title"):
    plt.plot(history1.history['loss'], color="green")
    plt.plot(history1.history['val_loss'], 'r--', color="green")
    plt.plot(history2.history['loss'], color="blue")
    plt.plot(history2.history['val_loss'], 'r--', color="blue")
    plt.title(title)
    plt.ylabel('Loss')
    plt.xlabel('Epoch')
    plt.legend(['Train ' + name1, 'Val ' + name1, 
                'Train ' + name2, 'Val ' + name2],
               loc='upper right')
    plt.show()
    
def plot_compare_accs(history1, history2, name1="Red 1",
                      name2="Red 2", title="Graph title"):
    """Compara accuracies de dos entrenamientos con nombres name1 y name2"""
    plt.plot(history1.history['acc'], color="green")
    plt.plot(history1.history['val_acc'], 'r--', color="green")
    plt.plot(history2.history['acc'], color="blue")
    plt.plot(history2.history['val_acc'], 'r--', color="blue")
    plt.title(title)
    plt.ylabel('Accuracy')
    plt.xlabel('Epoch')
    plt.legend(['Train ' + name1, 'Val ' + name1, 
                'Train ' + name2, 'Val ' + name2], 
               loc='lower right')
    plt.show()

def plot_compare_multiple_metrics(history_array, names, colors, title="Graph title", metric='acc'):  
    legend = []
    for i in range(0, len(history_array)):
        plt.plot(history_array[i].history[metric], color=colors[i])
        plt.plot(history_array[i].history['val_' + metric], 'r--', color=colors[i])
        legend.append('Train ' + names[i])
        legend.append('Val ' + names[i])
    
    plt.title(title)
    plt.ylabel('Accuracy')
    plt.xlabel('Epoch')   
    plt.axis
    plt.legend(legend, 
               loc='lower right')
    plt.show()

In [5]:
def transcripts_to_dataframe(directory):
    rows_list = []
        
    filenames = os.listdir(directory)
    
    if ".DS_Store" in filenames:
        filenames.remove(".DS_Store")
        
    for filename in filenames:
        print(filename)
        transcript_path = os.path.join(directory, filename)
        transcript = pd.read_csv(transcript_path, sep='\t')
        m = re.search("(\d{3})_TRANSCRIPT.csv", filename)
        if m:
            person_id = m.group(1)
            p = {}
            question = ""
            answer = ""
            lines = len(transcript)
            for i in range(0, lines):
                row = transcript.iloc[i]
                if (row["speaker"] == "Ellie") or (i == lines - 1):
                    p["personId"] = person_id
                    if "(" in str(question):
                        question = question[question.index("(") + 1:question.index(")")]
                    p["question"] = question
                    p["answer"] = answer
                    if question != "":
                        rows_list.append(p)
                    p = {}
                    answer = ""
                    question = row["value"]
                else:
                    answer = str(answer) + " " + str(row["value"])

    all_participants = pd.DataFrame(rows_list, columns=['personId', 'question', 'answer'])
    all_participants.to_csv(directory + 'all.csv', sep=',')
    print("File was created")
    return all_participants

In [6]:
data_path = "F:/DIAC-WOZ/transcripts/"
transcripts_to_dataframe(data_path) 
all_participants = pd.read_csv(data_path + 'all.csv', sep=',')

300_TRANSCRIPT.csv
301_TRANSCRIPT.csv
302_TRANSCRIPT.csv
303_TRANSCRIPT.csv
304_TRANSCRIPT.csv
305_TRANSCRIPT.csv
306_TRANSCRIPT.csv
307_TRANSCRIPT.csv
308_TRANSCRIPT.csv
309_TRANSCRIPT.csv
310_TRANSCRIPT.csv
311_TRANSCRIPT.csv
312_TRANSCRIPT.csv
313_TRANSCRIPT.csv
314_TRANSCRIPT.csv
315_TRANSCRIPT.csv
316_TRANSCRIPT.csv
317_TRANSCRIPT.csv
318_TRANSCRIPT.csv
319_TRANSCRIPT.csv
320_TRANSCRIPT.csv
321_TRANSCRIPT.csv
322_TRANSCRIPT.csv
323_TRANSCRIPT.csv
324_TRANSCRIPT.csv
325_TRANSCRIPT.csv
326_TRANSCRIPT.csv
327_TRANSCRIPT.csv
328_TRANSCRIPT.csv
329_TRANSCRIPT.csv
330_TRANSCRIPT.csv
331_TRANSCRIPT.csv
332_TRANSCRIPT.csv
333_TRANSCRIPT.csv
334_TRANSCRIPT.csv
335_TRANSCRIPT.csv
336_TRANSCRIPT.csv
337_TRANSCRIPT.csv
338_TRANSCRIPT.csv
339_TRANSCRIPT.csv
340_TRANSCRIPT.csv
341_TRANSCRIPT.csv
343_TRANSCRIPT.csv
344_TRANSCRIPT.csv
345_TRANSCRIPT.csv
346_TRANSCRIPT.csv
347_TRANSCRIPT.csv
348_TRANSCRIPT.csv
349_TRANSCRIPT.csv
350_TRANSCRIPT.csv
351_TRANSCRIPT.csv
352_TRANSCRIPT.csv
353_TRANSCRIPT.csv
354_TRANSCRIPT.csv
355_TRANSCRIPT.csv
356_TRANSCRIPT.csv
357_TRANSCRIPT.csv
358_TRANSCRIPT.csv
359_TRANSCRIPT.csv
360_TRANSCRIPT.csv
361_TRANSCRIPT.csv
362_TRANSCRIPT.csv
363_TRANSCRIPT.csv
364_TRANSCRIPT.csv
365_TRANSCRIPT.csv
366_TRANSCRIPT.csv
367_TRANSCRIPT.csv
368_TRANSCRIPT.csv
369_TRANSCRIPT.csv
370_TRANSCRIPT.csv
371_TRANSCRIPT.csv
372_TRANSCRIPT.csv
373_TRANSCRIPT.csv
374_TRANSCRIPT.csv
375_TRANSCRIPT.csv
376_TRANSCRIPT.csv
377_TRANSCRIPT.csv
378_TRANSCRIPT.csv
379_TRANSCRIPT.csv
380_TRANSCRIPT.csv
381_TRANSCRIPT.csv
382_TRANSCRIPT.csv
383_TRANSCRIPT.csv
384_TRANSCRIPT.csv
385_TRANSCRIPT.csv
386_TRANSCRIPT.csv
387_TRANSCRIPT.csv
388_TRANSCRIPT.csv
389_TRANSCRIPT.csv
390_TRANSCRIPT.csv
391_TRANSCRIPT.csv
392_TRANSCRIPT.csv
393_TRANSCRIPT.csv
395_TRANSCRIPT.csv
396_TRANSCRIPT.csv
397_TRANSCRIPT.csv
399_TRANSCRIPT.csv
400_TRANSCRIPT.csv
401_TRANSCRIPT.csv
402_TRANSCRIPT.csv
403_TRANSCRIPT.csv
404_TRANSCRIPT.csv
405_TRANSCRIPT.csv
406_TRANSCRIPT.csv
407_TRANSCRIPT.csv
408_TRANSCRIPT.csv
409_TRANSCRIPT.csv
410_TRANSCRIPT.csv
411_TRANSCRIPT.csv
412_TRANSCRIPT.csv
413_TRANSCRIPT.csv
414_TRANSCRIPT.csv
415_TRANSCRIPT.csv
416_TRANSCRIPT.csv
417_TRANSCRIPT.csv
418_TRANSCRIPT.csv
419_TRANSCRIPT.csv
420_TRANSCRIPT.csv
421_TRANSCRIPT.csv
422_TRANSCRIPT.csv
423_TRANSCRIPT.csv
424_TRANSCRIPT.csv
425_TRANSCRIPT.csv
426_TRANSCRIPT.csv
427_TRANSCRIPT.csv
428_TRANSCRIPT.csv
429_TRANSCRIPT.csv
430_TRANSCRIPT.csv
431_TRANSCRIPT.csv
432_TRANSCRIPT.csv
433_TRANSCRIPT.csv
434_TRANSCRIPT.csv
435_TRANSCRIPT.csv
436_TRANSCRIPT.csv
437_TRANSCRIPT.csv
438_TRANSCRIPT.csv
439_TRANSCRIPT.csv
440_TRANSCRIPT.csv
441_TRANSCRIPT.csv
442_TRANSCRIPT.csv
443_TRANSCRIPT.csv
444_TRANSCRIPT.csv
445_TRANSCRIPT.csv
446_TRANSCRIPT.csv
447_TRANSCRIPT.csv
448_TRANSCRIPT.csv
449_TRANSCRIPT.csv
450_TRANSCRIPT.csv
451_TRANSCRIPT.csv
452_TRANSCRIPT.csv
453_TRANSCRIPT.csv
454_TRANSCRIPT.csv
455_TRANSCRIPT.csv
456_TRANSCRIPT.csv
457_TRANSCRIPT.csv
458_TRANSCRIPT.csv
459_TRANSCRIPT.csv
461_TRANSCRIPT.csv
462_TRANSCRIPT.csv
463_TRANSCRIPT.csv
464_TRANSCRIPT.csv
465_TRANSCRIPT.csv
466_TRANSCRIPT.csv
467_TRANSCRIPT.csv
468_TRANSCRIPT.csv
469_TRANSCRIPT.csv
470_TRANSCRIPT.csv
471_TRANSCRIPT.csv
472_TRANSCRIPT.csv
473_TRANSCRIPT.csv
474_TRANSCRIPT.csv
475_TRANSCRIPT.csv
476_TRANSCRIPT.csv
477_TRANSCRIPT.csv
478_TRANSCRIPT.csv
479_TRANSCRIPT.csv
480_TRANSCRIPT.csv
481_TRANSCRIPT.csv
482_TRANSCRIPT.csv
483_TRANSCRIPT.csv
484_TRANSCRIPT.csv
485_TRANSCRIPT.csv
486_TRANSCRIPT.csv
487_TRANSCRIPT.csv
488_TRANSCRIPT.csv
489_TRANSCRIPT.csv
490_TRANSCRIPT.csv
491_TRANSCRIPT.csv
492_TRANSCRIPT.csv
all.csv
File was created

In [7]:
all_participants.head()

,Unnamed: 0,personId,question,answer
0,0,300,hi i'm ellie thanks for coming in today,NaN
1,1,300,i was created to talk to people in a safe and ...,NaN
2,2,300,think of me as a friend i don't judge i can't ...,NaN
3,3,300,i'm here to learn about people and would love ...,NaN
4,4,300,i'll ask a few questions to get us started and...,NaN

In [8]:
all_participants.columns =  ['index','personId', 'question', 'answer']
all_participants = all_participants.astype({"index": int, "personId": float, "question": str, "answer": str })

In [9]:
def text_to_wordlist(text, remove_stopwords=True, stem_words=False):    
    # Clean the text, with the option to remove stopwords and to stem words.
    
    # Convert words to lower case and split them
    text = text.lower().split()

    # Optionally, remove stop words
    if remove_stopwords:
        stops = set(stopwords.words("english"))
        text = [wordnet_lemmatizer.lemmatize(w) for w in text if not w in stops ]
        text = [w for w in text if w != "nan" ]
    else:
        text = [wordnet_lemmatizer.lemmatize(w) for w in text]
        text = [w for w in text if w != "nan" ]
    
    text = " ".join(text)

    # Clean the text
    text = re.sub(r"[^A-Za-z0-9^,!.\/'+-=]", " ", text)
    text = re.sub(r"what's", "what is ", text)
    text = re.sub(r"\'s", " ", text)
    text = re.sub(r"\'ve", " have ", text)
    text = re.sub(r"can't", "cannot ", text)
    text = re.sub(r"n't", " not ", text)
    text = re.sub(r"i'm", "i am ", text)
    text = re.sub(r"\'re", " are ", text)
    text = re.sub(r"\'d", " would ", text)
    text = re.sub(r"\'ll", " will ", text)
    text = re.sub(r",", " ", text)
    text = re.sub(r"\.", " ", text)
    text = re.sub(r"!", " ! ", text)
    text = re.sub(r"\/", " ", text)
    text = re.sub(r"\^", " ^ ", text)
    text = re.sub(r"\+", " + ", text)
    text = re.sub(r"\-", " - ", text)
    text = re.sub(r"\=", " = ", text)
    
    text = re.sub(r"\<", " ", text)
    text = re.sub(r"\>", " ", text)
    
    text = re.sub(r"'", " ", text)
    text = re.sub(r"(\d+)(k)", r"\g<1>000", text)
    text = re.sub(r":", " : ", text)
    text = re.sub(r" e g ", " eg ", text)
    text = re.sub(r" b g ", " bg ", text)
    text = re.sub(r" u s ", " american ", text)
    text = re.sub(r"\0s", "0", text)
    text = re.sub(r" 9 11 ", "911", text)
    text = re.sub(r"e - mail", "email", text)
    text = re.sub(r"j k", "jk", text)
    text = re.sub(r"\s{2,}", " ", text)
    
    # Optionally, shorten words to their stems
    if stem_words:
        text = text.split()
        stemmer = SnowballStemmer('english')
        stemmed_words = [stemmer.stem(word) for word in text]
        text = " ".join(stemmed_words)
    
    # Return a list of words
    return(text)

In [10]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\welcome\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [11]:
all_participants_mix = all_participants.copy()
all_participants_mix['answer'] = all_participants_mix.apply(lambda row: text_to_wordlist(row.answer).split(), axis=1)

In [12]:
all_participants_mix_stopwords = all_participants.copy()
all_participants_mix_stopwords['answer'] = all_participants_mix_stopwords.apply(lambda row: text_to_wordlist(row.answer, remove_stopwords=False).split(), axis=1)

In [13]:
words = [w for w in all_participants_mix['answer'].tolist()]
words = set(itertools.chain(*words))
vocab_size = len(words)

In [14]:
words_stop = [w for w in all_participants_mix_stopwords['answer'].tolist()]
words_stop = set(itertools.chain(*words_stop))
vocab_size_stop = len(words_stop)

In [15]:
windows_size = WINDOWS_SIZE
tokenizer = Tokenizer(num_words=vocab_size)
tokenizer.fit_on_texts(all_participants_mix['answer'])
tokenizer.fit_on_sequences(all_participants_mix['answer'])

all_participants_mix['t_answer'] = tokenizer.texts_to_sequences(all_participants_mix['answer'])
print(all_participants_mix)

       index  personId                                           question  \
0          0     300.0            hi i'm ellie thanks for coming in today
1          1     300.0  i was created to talk to people in a safe and ...
2          2     300.0  think of me as a friend i don't judge i can't ...
3          3     300.0  i'm here to learn about people and would love ...
4          4     300.0  i'll ask a few questions to get us started and...
5          5     300.0                            how are you doing today
6          6     300.0                                        that's good
7          7     300.0                      where are you from originally
8          8     300.0                                             really
9          9     300.0                              why'd you move to l_a
10        10     300.0                                how do you like l_a
11        11     300.0     what are some things you really like about l_a
12        12     300.0  how easy was it for you to get used to living ...
13        13     300.0  what are some things you don't really like abo...
14        14     300.0                                                mhm
15        15     300.0                                               okay
16        16     300.0                         what'd you study at school
17        17     300.0                                               cool
18        18     300.0                           are you still doing that
19        19     300.0                              what's your dream job
20        20     300.0                                            awesome
21        21     300.0                                do you travel a lot
22        22     300.0                                                why
23        23     300.0                                               okay
24        24     300.0          how often do you go back to your hometown
25        25     300.0                                               nice
26        26     300.0              do you consider yourself an introvert
27        27     300.0                        whatever comes to your mind
28        28     300.0                                               okay
29        29     300.0                            what do you do to relax
...      ...       ...                                                ...
14943  14943     492.0  tell me about a situation that you wish you ha...
14944  14944     492.0                                                mhm
14945  14945     492.0  tell me about the hardest decision you've ever...
14946  14946     492.0                                               okay
14947  14947     492.0  tell me about an event or something that you w...
14948  14948     492.0                                              right
14949  14949     492.0                                                 mm
14950  14950     492.0   tell me about your relationship with your family
14951  14951     492.0  who's someone that's been a positive influence...
14952  14952     492.0  who's someone that's been a positive influence...
14953  14953     492.0                                                mhm
14954  14954     492.0  how easy is it for you to get a good night's s...
14955  14955     492.0                   how have you been feeling lately
14956  14956     492.0  have you noticed any changes in your behavior ...
14957  14957     492.0          have you ever been diagnosed with p_t_s_d
14958  14958     492.0            have you been diagnosed with depression
14959  14959     492.0  tell me about the last time you felt really happy
14960  14960     492.0                             that's so good to hear
14961  14961     492.0            how would your best friend describe you
14962  14962     492.0                                          (laughter
14963  14963     492.0  what are some things you wish you could change...
14964  14964     492.0                                               okay
14965  14965     492.0                       is there anything you regret
14966  14966     492.0  what advice would you give to yourself ten or ...
14967  14967     492.0                                                mhm
14968  14968     492.0                                                 mm
14969  14969     492.0            what are you most proud of in your life
14970  14970     492.0     okay i think i have asked everything i need to
14971  14971     492.0           thanks for sharing your thoughts with me
14972  14972     492.0                                            goodbye

                                                  answer  \
0                                                     []
1                                                     []
2                                                     []
3                                                     []
4                                                     []
5                                                 [good]
6                                                     []
7                                     [atlanta, georgia]
8                                                     []
9                                       [um, parent, um]
10                                                [love]
11           [like, weather, like, opportunity, um, yes]
12                    [um, took, minute, somewhat, easy]
13                                          [congestion]
14                                                [that]
15                                                    []
16                  [um, took, business, administration]
17                                                    []
18     [uh, yeah, i, am, break, right, plan, going, b...
19                        [uh, probably, open, business]
20                                                    []
21                                                    []
22     [um, specific, reason, travel, lot, i, am, pre...
23                                                    []
24                                                [year]
25                                                    []
26                               [little, bit, specific]
27                                              [answer]
28                                                    []
29     [like, reading, book, enjoy, enjoy, cooking, u...
...                                                  ...
14943  [um, situation, recent, think, um, probably, s...
14944                                             [yeah]
14945  [hmm, thankfully, i, have, make, type, decisio...
14946                                              [mhm]
14947  [hmm, um, mm, um, life, know, going, forward, ...
14948  [feel, thing, happened, hap, happened, even, i...
14949                                                 []
14950  [um, brother, i, am, really, close, brother, m...
14951                                              [say]
14952  [um, people, i, have, grown, um, neighbor, i, ...
14953                  [they, have, positive, influence]
14954  [that, get, sleep, well, laughter, sleep, well...
14955         [normal, normal, i, have, feeling, normal]
14956                                                 []
14957                                                 []
14958                                                 []
14959  [um, recent, something, happened, um, um, able...
14960                                              [mhm]
14961  [uh, i, am, smart, would, say, i, am, smart, u...
14962                                         [laughter]
14963  [um, wanna, change, anything, want, better, be...
14964                                                 []
14965                                                 []
14966  [mm, that, good, question, would, uh, would, h...
14967                                      [go, forward]
14968                                                 []
14969                        [um, proud, fact, uh, give]
14970                                                 []
14971                                                 []
14972                                       [bye, thank]

                                                t_answer
0                                                     []
1                                                     []
2                                                     []
3                                                     []
4                                                     []
5                                                   [16]
6                                                     []
7                                           [1634, 1997]
8                                                     []
9                                            [1, 131, 1]
10                                                  [63]
11                               [5, 142, 5, 334, 1, 39]
12                               [1, 154, 527, 608, 100]
13                                                [1998]
14                                                  [20]
15                                                    []
16                                   [1, 154, 188, 1376]
17                                                    []
18     [2, 11, 3, 6, 540, 47, 733, 40, 43, 2, 391, 1377]
19                                     [2, 27, 351, 188]
20                                                    []
21                                                    []
22                [1, 903, 264, 204, 19, 3, 6, 23, 1282]
23                                                    []
24                                                  [22]
25                                                    []
26                                         [30, 82, 903]
27                                                 [392]
28                                                    []
29              [5, 382, 365, 211, 211, 713, 1, 904, 84]
...                                                  ...
14943  [1, 89, 690, 12, 1, 27, 31, 1, 653, 1002, 2, 3...
14944                                               [11]
14945          [104, 7369, 3, 13, 45, 239, 105, 26, 566]
14946                                              [123]
14947  [104, 1, 33, 1, 26, 4, 40, 524, 4, 1, 93, 3, 1...
14948  [28, 9, 252, 3951, 252, 78, 3, 13, 2389, 342, ...
14949                                                 []
14950                   [1, 209, 3, 6, 7, 114, 209, 171]
14951                                               [31]
14952  [1, 14, 3, 13, 632, 1, 1002, 3, 13, 2, 261, 2,...
14953                                 [72, 13, 158, 308]
14954              [20, 18, 77, 15, 8, 77, 15, 139, 145]
14955                         [484, 484, 3, 13, 96, 484]
14956                                                 []
14957                                                 []
14958                                                 []
14959  [1, 690, 29, 252, 1, 1, 108, 1695, 1, 1, 665, ...
14960                                              [123]
14961  [2, 3, 6, 689, 10, 31, 3, 6, 689, 2, 445, 975,...
14962                                                [8]
14963  [1, 79, 159, 70, 120, 80, 80, 71, 2, 1, 118, 2...
14964                                                 []
14965                                                 []
14966  [33, 20, 16, 179, 10, 2, 10, 13, 202, 2, 4, 4,...
14967                                          [21, 524]
14968                                                 []
14969                              [1, 147, 265, 2, 165]
14970                                                 []
14971                                                 []
14972                                         [858, 173]

[14973 rows x 5 columns]

In [16]:
windows_size = WINDOWS_SIZE
tokenizer = Tokenizer(num_words=vocab_size_stop)
tokenizer.fit_on_texts(all_participants_mix_stopwords['answer'])
tokenizer.fit_on_sequences(all_participants_mix_stopwords['answer'])

all_participants_mix_stopwords['t_answer'] = tokenizer.texts_to_sequences(all_participants_mix_stopwords['answer'])
all_participants_mix_stopwords.head()

,index,personId,question,answer,t_answer
0,0,300.0,hi i'm ellie thanks for coming in today,[],[]
1,1,300.0,i was created to talk to people in a safe and ...,[],[]
2,2,300.0,think of me as a friend i don't judge i can't ...,[],[]
3,3,300.0,i'm here to learn about people and would love ...,[],[]
4,4,300.0,i'll ask a few questions to get us started and...,[],[]

In [17]:

word_index = tokenizer.word_index
word_size = len(word_index)
print(word_index["sad"])

652

In [18]:
windows_size = WINDOWS_SIZE
cont = 0
word_index = tokenizer
phrases_lp_stop = pd.DataFrame(columns=['personId','answer', 't_answer'])
answers = all_participants_mix_stopwords.groupby('personId').agg('sum', axis=1)

print(answers["answer"])

personId
300.0    [good, atlanta, georgia, um, my, parent, are, ...
301.0    [thank, you, mmm, k, i, am, doing, good, thank...
302.0    [i, am, fine, how, about, yourself, i, am, fro...
303.0    [okay, how, bout, yourself, here, in, californ...
304.0    [i, am, doing, good, um, from, los, angeles, c...
305.0    [i, am, doing, alright, uh, originally, i, am,...
306.0    [fine, uh, colorado, mhm, uh, career, career, ...
307.0    [laughter, um, moscow, um, my, family, moved, ...
308.0    [los, angeles, california, yes, um, the, south...
309.0    [laughter, laughter, yeah, laughter, laughter,...
310.0    [yes, it, okay, laughter, fine, laughter, i, l...
311.0    [yes, okay, uh, when, would, i, move, to, l, a...
312.0    [yes, fine, how, about, you, here, yes, the, w...
313.0    [sure, uh, okay, i, guess, not, bad, not, good...
314.0    [yes, quite, well, feel, good, los, angeles, c...
315.0    [alright, yes, okay, and, you, inglewood, cali...
316.0    [yes, i, am, fine, new, york, uh, for, busines...
317.0    [yes, uh, i, am, okay, a, little, sleepy, righ...
318.0    [yes, i, am, alright, los, angeles, california...
319.0    [sure, mm, okay, los, angeles, um, well, laugh...
320.0    [yes, i, am, a, little, nervous, mm, this, is,...
321.0    [yeah, i, am, okay, um, chicago, illinois, mhm...
322.0    [yes, fine, thank, you, i, am, originally, fro...
323.0    [sure, good, chicago, it, cold, in, chicago, h...
324.0    [yeah, yes, fine, how, are, you, uh, born, and...
325.0    [yes, um, i, am, fine, this, is, a, little, bi...
326.0    [yes, i, am, fine, um, ohio, mmm, laughter, bi...
327.0    [yes, fine, thank, you, montreal, canada, i, m...
328.0    [yes, laughter, fine, how, are, you, uh, watt,...
329.0    [yes, pretty, well, from, new, york, uh, to, g...
                               ...
462.0    [yeah, i, am, okay, uh, i, am, from, los, ange...
463.0    [yes, i, am, i, am, pretty, good, uh, i, wa, b...
464.0    [mhm, um, i, am, doing, good, what, about, you...
465.0    [yeah, cool, i, am, hanging, out, you, know, b...
466.0    [yes, uh, okay, laughter, los, angeles, the, w...
467.0    [yeah, i, am, okay, with, it, uh, i, feel, i, ...
468.0    [yes, i, am, okay, with, this, i, am, pretty, ...
469.0    [yes, i, am, okay, l, a, mm, uh, there, a, lot...
470.0    [yes, i, am, doing, okay, i, am, from, los, an...
471.0    [yes, i, am, doing, well, thank, you, from, lo...
472.0    [sure, i, am, well, thank, you, southern, cali...
473.0    [yes, good, new, jersey, five, year, ago, abou...
474.0    [yes, i, am, good, how, are, you, uh, i, wa, b...
475.0    [yes, good, thank, you, el, segundo, right, do...
476.0    [uh, yeah, sure, laughter, i, am, alright, uh,...
477.0    [yes, thanks, i, am, well, thank, you, how, ar...
478.0    [yes, uh, good, thanks, the, east, coast, for,...
479.0    [yes, okay, l, a, uh, the, smog, traffic, tick...
481.0    [yeah, i, am, um, good, to, moderate, los, ang...
482.0    [yes, i, am, doing, fine, i, wa, born, in, tex...
483.0    [sure, laughter, mm, good, i, guess, new, orle...
484.0    [yes, i, am, doing, well, i, wa, born, in, oak...
485.0    [yes, i, am, not, bad, i, am, a, little, tired...
486.0    [yes, i, am, feel, great, i, am, from, saint, ...
487.0    [yes, i, am, fine, thank, you, detroit, michig...
488.0    [yes, fine, oh, san, fernando, valley, uh, wel...
489.0    [yes, i, am, doing, well, thank, you, san, lui...
490.0    [yeah, i, am, doing, already, how, are, you, d...
491.0    [yes, huh, overwhelmed, i, have, a, funeral, t...
492.0    [yes, doing, pretty, good, thank, you, marylan...
Name: answer, Length: 186, dtype: object

In [19]:
for p in answers.iterrows():      
    words = p[1]["answer"]
    size = len(words)
    word_tokens = p[1]["t_answer"]
 
    for i in range(size):
        sentence = words[i:min(i+windows_size,size)]  
        tokens = word_tokens[i:min(i+windows_size,size)]  
        phrases_lp_stop.loc[cont] = [p[0], sentence, tokens]
        cont = cont + 1

In [21]:
print(phrases_lp_stop)

        personId                                             answer  \
0          300.0  [good, atlanta, georgia, um, my, parent, are, ...
1          300.0  [atlanta, georgia, um, my, parent, are, from, ...
2          300.0  [georgia, um, my, parent, are, from, here, um,...
3          300.0  [um, my, parent, are, from, here, um, i, love,...
4          300.0  [my, parent, are, from, here, um, i, love, it, i]
5          300.0  [parent, are, from, here, um, i, love, it, i, ...
6          300.0   [are, from, here, um, i, love, it, i, like, the]
7          300.0  [from, here, um, i, love, it, i, like, the, we...
8          300.0  [here, um, i, love, it, i, like, the, weather, i]
9          300.0  [um, i, love, it, i, like, the, weather, i, like]
10         300.0  [i, love, it, i, like, the, weather, i, like, ...
11         300.0  [love, it, i, like, the, weather, i, like, the...
12         300.0  [it, i, like, the, weather, i, like, the, oppo...
13         300.0  [i, like, the, weather, i, like, the, opportun...
14         300.0  [like, the, weather, i, like, the, opportunity...
15         300.0  [the, weather, i, like, the, opportunity, um, ...
16         300.0  [weather, i, like, the, opportunity, um, yes, ...
17         300.0  [i, like, the, opportunity, um, yes, um, it, t...
18         300.0  [like, the, opportunity, um, yes, um, it, took...
19         300.0  [the, opportunity, um, yes, um, it, took, a, m...
20         300.0  [opportunity, um, yes, um, it, took, a, minute...
21         300.0  [um, yes, um, it, took, a, minute, somewhat, e...
22         300.0  [yes, um, it, took, a, minute, somewhat, easy,...
23         300.0  [um, it, took, a, minute, somewhat, easy, cong...
24         300.0  [it, took, a, minute, somewhat, easy, congesti...
25         300.0  [took, a, minute, somewhat, easy, congestion, ...
26         300.0  [a, minute, somewhat, easy, congestion, that, ...
27         300.0  [minute, somewhat, easy, congestion, that, it,...
28         300.0  [somewhat, easy, congestion, that, it, um, i, ...
29         300.0  [easy, congestion, that, it, um, i, took, up, ...
...          ...                                                ...
283505     492.0    [what, i, know, to, do, is, right, and, to, go]
283506     492.0  [i, know, to, do, is, right, and, to, go, forw...
283507     492.0  [know, to, do, is, right, and, to, go, forward...
283508     492.0   [to, do, is, right, and, to, go, forward, um, i]
283509     492.0   [do, is, right, and, to, go, forward, um, i, am]
283510     492.0  [is, right, and, to, go, forward, um, i, am, v...
283511     492.0  [right, and, to, go, forward, um, i, am, very,...
283512     492.0  [and, to, go, forward, um, i, am, very, proud,...
283513     492.0  [to, go, forward, um, i, am, very, proud, of, ...
283514     492.0  [go, forward, um, i, am, very, proud, of, the,...
283515     492.0  [forward, um, i, am, very, proud, of, the, fac...
283516     492.0  [um, i, am, very, proud, of, the, fact, that, uh]
283517     492.0   [i, am, very, proud, of, the, fact, that, uh, i]
283518     492.0  [am, very, proud, of, the, fact, that, uh, i, do]
283519     492.0  [very, proud, of, the, fact, that, uh, i, do, ...
283520     492.0  [proud, of, the, fact, that, uh, i, do, not, g...
283521     492.0    [of, the, fact, that, uh, i, do, not, give, up]
283522     492.0   [the, fact, that, uh, i, do, not, give, up, bye]
283523     492.0   [fact, that, uh, i, do, not, give, up, bye, and]
283524     492.0  [that, uh, i, do, not, give, up, bye, and, thank]
283525     492.0   [uh, i, do, not, give, up, bye, and, thank, you]
283526     492.0       [i, do, not, give, up, bye, and, thank, you]
283527     492.0          [do, not, give, up, bye, and, thank, you]
283528     492.0              [not, give, up, bye, and, thank, you]
283529     492.0                   [give, up, bye, and, thank, you]
283530     492.0                         [up, bye, and, thank, you]
283531     492.0                             [bye, and, thank, you]
283532     492.0                                  [and, thank, you]
283533     492.0                                       [thank, you]
283534     492.0                                              [you]

                                            t_answer
0       [42, 1727, 2089, 5, 12, 205, 37, 69, 113, 5]
1        [1727, 2089, 5, 12, 205, 37, 69, 113, 5, 1]
2         [2089, 5, 12, 205, 37, 69, 113, 5, 1, 119]
3            [5, 12, 205, 37, 69, 113, 5, 1, 119, 6]
4            [12, 205, 37, 69, 113, 5, 1, 119, 6, 1]
5            [205, 37, 69, 113, 5, 1, 119, 6, 1, 16]
6              [37, 69, 113, 5, 1, 119, 6, 1, 16, 7]
7             [69, 113, 5, 1, 119, 6, 1, 16, 7, 218]
8              [113, 5, 1, 119, 6, 1, 16, 7, 218, 1]
9               [5, 1, 119, 6, 1, 16, 7, 218, 1, 16]
10              [1, 119, 6, 1, 16, 7, 218, 1, 16, 7]
11            [119, 6, 1, 16, 7, 218, 1, 16, 7, 423]
12              [6, 1, 16, 7, 218, 1, 16, 7, 423, 5]
13             [1, 16, 7, 218, 1, 16, 7, 423, 5, 89]
14             [16, 7, 218, 1, 16, 7, 423, 5, 89, 5]
15              [7, 218, 1, 16, 7, 423, 5, 89, 5, 6]
16            [218, 1, 16, 7, 423, 5, 89, 5, 6, 232]
17              [1, 16, 7, 423, 5, 89, 5, 6, 232, 3]
18            [16, 7, 423, 5, 89, 5, 6, 232, 3, 620]
19           [7, 423, 5, 89, 5, 6, 232, 3, 620, 700]
20         [423, 5, 89, 5, 6, 232, 3, 620, 700, 166]
21        [5, 89, 5, 6, 232, 3, 620, 700, 166, 2090]
22        [89, 5, 6, 232, 3, 620, 700, 166, 2090, 8]
23         [5, 6, 232, 3, 620, 700, 166, 2090, 8, 6]
24         [6, 232, 3, 620, 700, 166, 2090, 8, 6, 5]
25         [232, 3, 620, 700, 166, 2090, 8, 6, 5, 1]
26         [3, 620, 700, 166, 2090, 8, 6, 5, 1, 232]
27        [620, 700, 166, 2090, 8, 6, 5, 1, 232, 63]
28        [700, 166, 2090, 8, 6, 5, 1, 232, 63, 271]
29          [166, 2090, 8, 6, 5, 1, 232, 63, 271, 2]
...                                              ...
283505         [1, 14, 4, 19, 33, 99, 2, 4, 57, 617]
283506         [14, 4, 19, 33, 99, 2, 4, 57, 617, 5]
283507          [4, 19, 33, 99, 2, 4, 57, 617, 5, 1]
283508         [19, 33, 99, 2, 4, 57, 617, 5, 1, 18]
283509         [33, 99, 2, 4, 57, 617, 5, 1, 18, 49]
283510        [99, 2, 4, 57, 617, 5, 1, 18, 49, 224]
283511        [2, 4, 57, 617, 5, 1, 18, 49, 224, 13]
283512        [4, 57, 617, 5, 1, 18, 49, 224, 13, 7]
283513      [57, 617, 5, 1, 18, 49, 224, 13, 7, 353]
283514       [617, 5, 1, 18, 49, 224, 13, 7, 353, 8]
283515         [5, 1, 18, 49, 224, 13, 7, 353, 8, 9]
283516         [1, 18, 49, 224, 13, 7, 353, 8, 9, 1]
283517        [18, 49, 224, 13, 7, 353, 8, 9, 1, 19]
283518        [49, 224, 13, 7, 353, 8, 9, 1, 19, 10]
283519       [224, 13, 7, 353, 8, 9, 1, 19, 10, 245]
283520        [13, 7, 353, 8, 9, 1, 19, 10, 245, 63]
283521       [7, 353, 8, 9, 1, 19, 10, 245, 63, 949]
283522       [353, 8, 9, 1, 19, 10, 245, 63, 949, 2]
283523       [8, 9, 1, 19, 10, 245, 63, 949, 2, 254]
283524      [9, 1, 19, 10, 245, 63, 949, 2, 254, 11]
283525         [1, 19, 10, 245, 63, 949, 2, 254, 11]
283526            [19, 10, 245, 63, 949, 2, 254, 11]
283527                [10, 245, 63, 949, 2, 254, 11]
283528                    [245, 63, 949, 2, 254, 11]
283529                         [63, 949, 2, 254, 11]
283530                             [949, 2, 254, 11]
283531                                  [2, 254, 11]
283532                                     [254, 11]
283533                                          [11]
283534                                            []

[283535 rows x 3 columns]

In [25]:
windows_size = WINDOWS_SIZE
cont = 0
word_index = tokenizer
phrases_lp = pd.DataFrame(columns=['personId','answer', 't_answer'])
answers = all_participants_mix.groupby('personId').agg('sum', axis=1)

for p in answers.iterrows():      
    print(p)
    words = p[1]["answer"]
    size = len(words)
    word_tokens = p[1]["t_answer"]
 
    for i in range(size):
        sentence = words[i:min(i+windows_size,size)]  
        tokens = word_tokens[i:min(i+windows_size,size)]  
        phrases_lp.loc[cont] = [p[0], sentence, tokens]
        cont = cont + 1

(300.0, index                                                    3741
question    hi i'm ellie thanks for coming in todayi was c...
answer      [good, atlanta, georgia, um, parent, um, love,...
t_answer    [16, 1634, 1997, 1, 131, 1, 63, 5, 142, 5, 334...
Name: 300.0, dtype: object)
(301.0, index                                                    9625
question    hi i'm ellie thanks for coming in today i was ...
answer      [thank, mmm, k, i, am, good, thank, i, am, los...
t_answer    [173, 2246, 1199, 3, 6, 16, 173, 3, 6, 224, 23...
Name: 301.0, dtype: object)
(302.0, index                                                   18512
question    hi i'm ellie thanks for coming in todayi was c...
answer      [i, am, fine, i, am, los, angeles, california,...
t_answer    [3, 6, 283, 3, 6, 224, 238, 234, 153, 64, 1, 6...
Name: 302.0, dtype: object)
(303.0, index                                                   26092
question    hi i'm ellie thanks for coming in today i was ...
answer      [okay, bout, california, yeah, oh, well, big, ...
t_answer    [64, 1030, 234, 11, 46, 15, 191, 4326, 57, 19,...
Name: 303.0, dtype: object)
(304.0, index                                                   39050
question    hi i'm ellie thanks for coming in today i was ...
answer      [i, am, good, um, los, angeles, california, um...
t_answer    [3, 6, 16, 1, 224, 238, 234, 1, 242, 142, 203,...
Name: 304.0, dtype: object)
(305.0, index                                                   58383
question    hi i'm ellie thanks for coming in today i was ...
answer      [i, am, alright, uh, originally, i, am, califo...
t_answer    [3, 6, 422, 2, 531, 3, 6, 234, 2, 336, 4339, 3...
Name: 305.0, dtype: object)
(306.0, index                                                   64050
question    hi i'm ellie thanks for coming in todayi was c...
answer      [fine, uh, colorado, mhm, uh, career, career, ...
t_answer    [283, 2, 873, 123, 2, 357, 357, 2027, 2, 2642,...
Name: 306.0, dtype: object)
(307.0, index                                                   64428
question    hi i'm ellie thanks for coming in today i was ...
answer      [laughter, um, moscow, um, family, moved, amer...
t_answer    [8, 1, 4390, 1, 61, 245, 544, 245, 721, 180, 2...
Name: 307.0, dtype: object)
(308.0, index                                                   55195
question    hi i'm ellie thanks for coming in todayi was c...
answer      [los, angeles, california, yes, um, southern, ...
t_answer    [224, 238, 234, 39, 1, 1099, 234, 1156, 203, 1...
Name: 308.0, dtype: object)
(309.0, index                                                   70889
question    hi i'm ellie thanks for coming in todayi was c...
answer      [laughter, laughter, yeah, laughter, laughter,...
t_answer    [8, 8, 11, 8, 8, 3, 6, 16, 8, 2, 1233, 2, 747,...
Name: 309.0, dtype: object)
(310.0, index                                                   87538
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, okay, laughter, fine, laughter, live, ho...
t_answer    [39, 64, 8, 283, 8, 133, 1146, 2, 2049, 8, 2, ...
Name: 310.0, dtype: object)
(311.0, index                                                  101462
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, okay, uh, when, would, move, l, a, um, m...
t_answer    [39, 64, 2, 3294, 10, 256, 112, 94, 1, 245, 12...
Name: 311.0, dtype: object)
(312.0, index                                                   95466
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, fine, yes, weather, weather, mainly, yea...
t_answer    [39, 283, 39, 142, 142, 685, 11, 922, 924, 142...
Name: 312.0, dtype: object)
(313.0, index                                                   97480
question    hi i'm ellie thanks for coming in todayi was c...
answer      [sure, uh, okay, guess, bad, good, denver, col...
t_answer    [97, 2, 64, 35, 106, 16, 2310, 873, 2, 688, 66...
Name: 313.0, dtype: object)
(314.0, index                                                  125424
question    [sync]hi i'm ellie thanks for coming in todayi...
answer      [yes, quite, well, feel, good, los, angeles, c...
t_answer    [39, 294, 15, 28, 16, 224, 238, 234, 123, 24, ...
Name: 314.0, dtype: object)
(315.0, index                                                  124511
question    hi i'm ellie thanks for coming in todayi was c...
answer      [alright, yes, okay, inglewood, california, ye...
t_answer    [422, 39, 64, 2320, 234, 39, 2, 64, 1, 34, 273...
Name: 315.0, dtype: object)
(316.0, index                                                  153985
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, i, am, fine, new, york, uh, business, um...
t_answer    [39, 3, 6, 283, 76, 420, 2, 188, 1, 3337, 3, 6...
Name: 316.0, dtype: object)
(317.0, index                                                  136697
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, uh, i, am, okay, little, sleepy, right, ...
t_answer    [39, 2, 3, 6, 64, 30, 2718, 47, 3, 6, 76, 420,...
Name: 317.0, dtype: object)
(318.0, index                                                  116725
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, i, am, alright, los, angeles, california...
t_answer    [39, 3, 6, 422, 224, 238, 234, 714, 1, 832, 19...
Name: 318.0, dtype: object)
(319.0, index                                                  137618
question    hi i'm ellie thanks for coming in todayi was c...
answer      [sure, mm, okay, los, angeles, um, well, laugh...
t_answer    [97, 33, 64, 224, 238, 1, 15, 8, 20, 16, 179, ...
Name: 319.0, dtype: object)
(320.0, index                                                  222882
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, i, am, little, nervous, mm, different, c...
t_answer    [39, 3, 6, 30, 926, 33, 38, 234, 39, 5, 203, 1...
Name: 320.0, dtype: object)
(321.0, index                                                  217338
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yeah, i, am, okay, um, chicago, illinois, mhm...
t_answer    [11, 3, 6, 64, 1, 850, 2338, 123, 2, 287, 53, ...
Name: 321.0, dtype: object)
(322.0, index                                                  193687
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, fine, thank, i, am, originally, india, y...
t_answer    [39, 283, 173, 3, 6, 531, 1866, 11, 3, 6, 375,...
Name: 322.0, dtype: object)
(323.0, index                                                  187137
question    hi i'm ellie thanks for coming in todayi was c...
answer      [sure, good, chicago, cold, chicago, hmm, oh, ...
t_answer    [97, 16, 850, 667, 850, 104, 46, 12, 686, 511,...
Name: 323.0, dtype: object)
(324.0, index                                                  206126
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yeah, yes, fine, uh, born, raise, right, west...
t_answer    [11, 39, 283, 2, 336, 705, 47, 1026, 423, 1873...
Name: 324.0, dtype: object)
(325.0, index                                                  193224
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, um, i, am, fine, little, bit, strange, k...
t_answer    [39, 1, 3, 6, 283, 30, 82, 1330, 4, 194, 1882,...
Name: 325.0, dtype: object)
(326.0, index                                                  239481
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, i, am, fine, um, ohio, mmm, laughter, bi...
t_answer    [39, 3, 6, 283, 1, 1697, 2246, 8, 1039, 230, 3...
Name: 326.0, dtype: object)
(327.0, index                                                  251850
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, fine, thank, montreal, canada, moved, mo...
t_answer    [39, 283, 173, 4614, 1177, 245, 177, 176, 59, ...
Name: 327.0, dtype: object)
(328.0, index                                                  264519
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, laughter, fine, uh, watt, california, li...
t_answer    [39, 8, 283, 2, 4620, 234, 133, 1026, 112, 94,...
Name: 328.0, dtype: object)

(329.0, index                                                  208516
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, pretty, well, new, york, uh, go, college...
t_answer    [39, 23, 15, 76, 420, 2, 21, 180, 15, 466, 155...
Name: 329.0, dtype: object)
(330.0, index                                                  245564
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, i, am, okay, good, l, a, sunny, uh, near...
t_answer    [39, 3, 6, 64, 16, 112, 94, 1340, 2, 1165, 641...
Name: 330.0, dtype: object)
(331.0, index                                                  294321
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, okay, connecticut, um, actor, laughter, ...
t_answer    [39, 64, 2771, 1, 1124, 8, 15, 245, 466, 898, ...
Name: 331.0, dtype: object)
(332.0, index                                                  286512
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, fine, tired, california, hollywood, uh, ...
t_answer    [39, 283, 195, 234, 1146, 2, 32, 8, 57, 156, 9...
Name: 332.0, dtype: object)
(333.0, index                                                  305118
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, well, new, york, turn, volume, little, b...
t_answer    [39, 15, 76, 420, 487, 4690, 30, 82, 8, 2, 159...
Name: 333.0, dtype: object)
(334.0, index                                                  318150
question    hi i'm ellie thanks for coming in todayi was c...
answer      [okay, yes, pretty, good, little, tired, seatt...
t_answer    [64, 39, 23, 16, 30, 195, 2049, 1719, 2, 845, ...
Name: 334.0, dtype: object)
(335.0, index                                                  334815
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, okay, uh, i, am, originally, los,...
t_answer    [39, 3, 6, 64, 2, 3, 6, 531, 224, 238, 123, 1,...
Name: 335.0, dtype: object)
(336.0, index                                                  345219
question    hi i'm ellie thanks for coming in today i was ...
answer      [hello, sure, good, little, tired, indianapoli...
t_answer    [2391, 97, 16, 30, 195, 4744, 1561, 2, 3, 6, 2...
Name: 336.0, dtype: object)
(337.0, index                                                  376866
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yeah, i, am, okay, i, am, originally, like, s...
t_answer    [11, 3, 6, 64, 3, 6, 531, 5, 2746, 2806, 2746,...
Name: 337.0, dtype: object)
(338.0, index                                                  264957
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, fine, i, am, los, angeles, califo...
t_answer    [39, 3, 6, 283, 3, 6, 224, 238, 234, 278, 607,...
Name: 338.0, dtype: object)
(339.0, index                                                  348175
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, um, i, am, okay, born, san, bernardino, ...
t_answer    [39, 1, 3, 6, 64, 336, 466, 4814, 234, 39, 1, ...
Name: 339.0, dtype: object)
(340.0, index                                                  315378
question    hi i'm ellie thanks for coming in today i was ...
answer      [yeah, i, am, okay, fine, pensacola, florida, ...
t_answer    [11, 3, 6, 64, 283, 4819, 826, 2, 378, 286, 21...
Name: 340.0, dtype: object)
(341.0, index                                                  427572
question    hi i'm ellie thanks for coming in todayi was c...
answer      [sure, i, am, fine, little, tired, california,...
t_answer    [97, 3, 6, 283, 30, 195, 234, 39, 1, 142, 8, 7...
Name: 341.0, dtype: object)
(343.0, index                                                  439893
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, i, am, okay, uh, los, angeles, californi...
t_answer    [39, 3, 6, 64, 2, 224, 238, 234, 39, 5, 142, 1...
Name: 343.0, dtype: object)
(344.0, index                                                  456344
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, okay, i, am, uh, los, angeles, ca...
t_answer    [39, 3, 6, 64, 3, 6, 2, 224, 238, 234, 531, 39...
Name: 344.0, dtype: object)
(345.0, index                                                  316806
question    hi i'm ellie thanks for coming in today i was ...
answer      [hi, yeah, i, am, okay, i, am, great, yeah, um...
t_answer    [1675, 11, 3, 6, 64, 3, 6, 84, 11, 1, 224, 238...
Name: 345.0, dtype: object)
(346.0, index                                                  395529
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, okay, los, angeles, there, lot, t...
t_answer    [39, 3, 6, 64, 224, 238, 57, 19, 9, 63, 203, 1...
Name: 346.0, dtype: object)
(347.0, index                                                  391005
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, alright, uh, new, york, state, um, girlf...
t_answer    [39, 422, 2, 76, 420, 413, 1, 273, 163, 58, 33...
Name: 347.0, dtype: object)
(348.0, index                                                  421515
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, okay, uh, born, downtown, los, an...
t_answer    [39, 3, 6, 64, 2, 336, 1070, 224, 238, 63, 112...
Name: 348.0, dtype: object)
(349.0, index                                                  421383
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yeah, sigh, nebraska, uh, work, i, have, comi...
t_answer    [11, 25, 3529, 2, 53, 3, 13, 355, 22, 1379, 24...
Name: 349.0, dtype: object)
(350.0, index                                                  402027
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, fine, thank, originally, i, am, w...
t_answer    [39, 3, 6, 283, 173, 531, 3, 6, 15, 336, 2138,...
Name: 350.0, dtype: object)
(351.0, index                                                  419101
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, clears, throat, okay, um, new, york, um,...
t_answer    [39, 166, 161, 64, 1, 76, 420, 1, 688, 1, 164,...
Name: 351.0, dtype: object)
(352.0, index                                                  205325
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, i, am, pretty, good, laughter, i, am, ok...
t_answer    [39, 3, 6, 23, 16, 8, 3, 6, 1445, 123, 4910, 1...
Name: 352.0, dtype: object)
(353.0, index                                                  386920
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, i, am, okay, um, pennsylvania, mhm, um, ...
t_answer    [39, 3, 6, 64, 1, 3357, 123, 1, 15, 1358, 160,...
Name: 353.0, dtype: object)
(354.0, index                                                  467780
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, i, am, alright, pretty, good, little, bi...
t_answer    [39, 3, 6, 422, 23, 16, 30, 82, 195, 3, 6, 224...
Name: 354.0, dtype: object)
(355.0, index                                                  385770
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, alright, born, uh, los, angeles, califor...
t_answer    [39, 422, 336, 2, 224, 238, 234, 2, 15, 142, 2...
Name: 355.0, dtype: object)
(356.0, index                                                  427602
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, okay, eh, alhambra, uh, weather, really,...
t_answer    [39, 64, 101, 4975, 2, 142, 7, 129, 93, 1607, ...
Name: 356.0, dtype: object)
(357.0, index                                                  200928
question    hi i'm ellie thanks for coming in todayi was c...
answer      [sure, i, am, fine, tired, bike, back, sweaty,...
t_answer    [97, 3, 6, 283, 195, 522, 43, 3578, 3, 6, 112,...
Name: 357.0, dtype: object)
(358.0, index                                                  259825
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, fine, tampa, florida, uh, point, wanted,...
t_answer    [39, 283, 5007, 826, 2, 221, 125, 18, 825, 954...
Name: 358.0, dtype: object)

(359.0, index                                                  473985
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, laughter, uh, get, much, sleep, last, ni...
t_answer    [39, 8, 2, 18, 32, 77, 73, 145, 152, 667, 3, 6...
Name: 359.0, dtype: object)
(360.0, index                                                  218612
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, i, am, good, inglewood, scenery, place, ...
t_answer    [39, 3, 6, 16, 2320, 864, 110, 398, 1, 63, 112...
Name: 360.0, dtype: object)
(361.0, index                                                  231082
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, i, am, great, i, am, born, american, bor...
t_answer    [39, 3, 6, 84, 3, 6, 336, 544, 336, 2, 2803, 8...
Name: 361.0, dtype: object)
(362.0, index                                                  271025
question    hi i'm ellie thanks for coming in todayi was c...
answer      [yes, good, california, like, eh, art, enterta...
t_answer    [39, 16, 234, 5, 101, 270, 825, 5, 2, 19, 1418...
Name: 362.0, dtype: object)
(363.0, index                                                  361581
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, good, los, angeles, yes, um, uh, center,...
t_answer    [39, 16, 224, 238, 39, 1, 2, 1179, 93, 101, 18...
Name: 363.0, dtype: object)
(364.0, index                                                  483285
question    hi i'm ellie thanks for coming in today i was ...
answer      [feel, pretty, good, i, am, wide, awake, good,...
t_answer    [28, 23, 16, 3, 6, 2896, 1274, 16, 2123, 129, ...
Name: 364.0, dtype: object)
(365.0, index                                                  451080
question    hi i'm ellie thanks for coming in today i was ...
answer      [sure, i, am, alright, new, jersey, yes, three...
t_answer    [97, 3, 6, 422, 76, 2176, 39, 138, 163, 58, 32...
Name: 365.0, dtype: object)
(366.0, index                                                  399945
question    hi i'm ellie thanks for coming in today i was ...
answer      [yeah, i, am, great, uh, los, angeles, califor...
t_answer    [11, 3, 6, 84, 2, 224, 238, 234, 2, 25, 5, 976...
Name: 366.0, dtype: object)
(367.0, index                                                  393210
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, okay, um, i, am, little, pensive,...
t_answer    [39, 3, 6, 64, 1, 3, 6, 30, 5211, 35, 30, 2, 3...
Name: 367.0, dtype: object)
(368.0, index                                                  391950
question    hi i'm ellie thanks for coming in today i was ...
answer      [sniffle, yeah, i, am, okay, um, i, am, okay, ...
t_answer    [258, 11, 3, 6, 64, 1, 3, 6, 64, 3, 6, 64, 1, ...
Name: 368.0, dtype: object)
(369.0, index                                                  402390
question    hi i'm ellie thanks for coming in today i was ...
answer      [sure, yeah, i, am, great, thank, asking, um, ...
t_answer    [97, 11, 3, 6, 84, 173, 934, 1, 4, 8, 46, 722,...
Name: 369.0, dtype: object)
(370.0, index                                                  334852
question    hi i'm ellie thanks for coming in today i was ...
answer      [yeah, i, am, pretty, okay, thanks, asking, uh...
t_answer    [11, 3, 6, 23, 64, 557, 934, 2, 3, 6, 112, 94,...
Name: 370.0, dtype: object)
(371.0, index                                                  520343
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, pretty, good, thank, born, san, f...
t_answer    [39, 3, 6, 23, 16, 173, 336, 466, 2200, 1439, ...
Name: 371.0, dtype: object)
(372.0, index                                                  540100
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, um, pretty, good, kind, laughter, yeah, ...
t_answer    [39, 1, 23, 16, 51, 8, 11, 8, 224, 238, 39, 9,...
Name: 372.0, dtype: object)
(373.0, index                                                  422654
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, uh, okay, okay, uh, north, carolina, yep...
t_answer    [39, 2, 64, 64, 2, 1463, 1966, 714, 2, 306, 20...
Name: 373.0, dtype: object)
(374.0, index                                                  433596
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, pretty, good, alexandria, virginia, mhm,...
t_answer    [39, 23, 16, 5376, 1968, 123, 2, 245, 112, 94,...
Name: 374.0, dtype: object)
(375.0, index                                                  425584
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, good, nice, day, south, bay, ask, questi...
t_answer    [39, 16, 129, 42, 783, 1519, 532, 179, 46, 64,...
Name: 375.0, dtype: object)
(376.0, index                                                  468806
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, okay, still, morning, i, am, east...
t_answer    [39, 3, 6, 64, 86, 277, 3, 6, 622, 670, 2793, ...
Name: 376.0, dtype: object)
(377.0, index                                                  703350
question    hi i'm ellie thanks for coming in today i was ...
answer      [yeah, go, ahead, um, i, am, okay, grew, wisco...
t_answer    [11, 21, 695, 1, 3, 6, 64, 406, 2099, 301, 873...
Name: 377.0, dtype: object)
(378.0, index                                                  521874
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, pretty, good, grew, boston, thirty, year...
t_answer    [39, 23, 16, 406, 1358, 486, 22, 58, 714, 329,...
Name: 378.0, dtype: object)
(379.0, index                                                  683043
question    hi i'm ellie thanks for coming in today i was ...
answer      [sniffle, sniffle, yes, i, am, feeling, okay, ...
t_answer    [258, 258, 39, 3, 6, 96, 64, 30, 82, 195, 153,...
Name: 379.0, dtype: object)
(380.0, index                                                  611325
question    hi i'm ellie thanks for coming in today i was ...
answer      [sure, i, am, fine, i, am, alright, um, yeah, ...
t_answer    [97, 3, 6, 283, 3, 6, 422, 1, 11, 3, 6, 1367, ...
Name: 380.0, dtype: object)
(381.0, index                                                  508713
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, okay, santa, monica, uh, people, mostly,...
t_answer    [39, 64, 1132, 1742, 2, 14, 442, 25, 15, 14, 1...
Name: 381.0, dtype: object)
(382.0, index                                                  584094
question    hi i'm ellie thanks for coming in today i was ...
answer      [sure, i, am, fine, i, am, columbia, south, ca...
t_answer    [97, 3, 6, 283, 3, 6, 3848, 783, 1966, 714, 2,...
Name: 382.0, dtype: object)
(383.0, index                                                  555765
question    hi i'm ellie thanks for coming in today i was ...
answer      [yeah, i, am, totally, fine, confidential, kno...
t_answer    [11, 3, 6, 506, 283, 5548, 4, 381, 5549, 381, ...
Name: 383.0, dtype: object)
(384.0, index                                                  655086
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, fine, indiana, yes, uh, know, may...
t_answer    [39, 3, 6, 283, 1561, 39, 2, 4, 65, 200, 22, 5...
Name: 384.0, dtype: object)
(385.0, index                                                  504105
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, good, los, angeles, uh, weather, enterta...
t_answer    [39, 16, 224, 238, 2, 142, 825, 197, 201, 156,...
Name: 385.0, dtype: object)
(386.0, index                                                  596755
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, oh, um, fine, little, tired, uh, found, ...
t_answer    [39, 46, 1, 283, 30, 195, 2, 370, 3876, 12, 74...
Name: 386.0, dtype: object)
(387.0, index                                                  492584
question    hi i'm ellie thanks for coming in today i was ...
answer      [hmm, okay, sure, great, philadelphia, five, y...
t_answer    [104, 64, 97, 84, 5621, 212, 22, 58, 22, 112, ...
Name: 387.0, dtype: object)

(388.0, index                                                  564186
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, alright, passaic, new, jersey, yes, uh, ...
t_answer    [39, 422, 5628, 76, 2176, 39, 2, 212, 22, 58, ...
Name: 388.0, dtype: object)
(389.0, index                                                  660484
question    hi i'm ellie thanks for coming in today i was ...
answer      [sure, okay, small, town, outside, cinncinatti...
t_answer    [97, 64, 327, 650, 410, 5631, 1697, 138, 22, 5...
Name: 389.0, dtype: object)
(390.0, index                                                  652955
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, pretty, well, um, stressful, circ...
t_answer    [39, 3, 6, 23, 15, 1, 570, 865, 40, 1, 1, 47, ...
Name: 390.0, dtype: object)
(391.0, index                                                  575475
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, kind, boyfriend, florida, yep, uh, try, ...
t_answer    [39, 51, 439, 826, 714, 2, 62, 216, 53, 1, 22,...
Name: 391.0, dtype: object)
(392.0, index                                                  581100
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, well, uh, california, like, weath...
t_answer    [39, 3, 6, 15, 2, 234, 5, 142, 5, 14, 5, 197, ...
Name: 392.0, dtype: object)
(393.0, index                                                  500320
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, good, i, am, originally, los, ang...
t_answer    [39, 3, 6, 16, 3, 6, 531, 224, 238, 234, 1, 5,...
Name: 393.0, dtype: object)
(395.0, index                                                  599450
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, fine, california, los, angeles, m...
t_answer    [39, 3, 6, 283, 234, 224, 238, 123, 1, 63, 116...
Name: 395.0, dtype: object)
(396.0, index                                                  605226
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, okay, virginia, wanted, live, somewhere,...
t_answer    [39, 64, 1968, 125, 133, 444, 38, 1968, 30, 82...
Name: 396.0, dtype: object)
(397.0, index                                                  716094
question    hi i'm ellie thanks for coming in today i was ...
answer      [sure, i, am, good, caught, cold, morning, sni...
t_answer    [97, 3, 6, 16, 1138, 667, 277, 371, 112, 94, 6...
Name: 397.0, dtype: object)
(399.0, index                                                  552466
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, pretty, good, uh, far, parent, et...
t_answer    [39, 3, 6, 23, 16, 2, 208, 131, 5719, 39, 1, 2...
Name: 399.0, dtype: object)
(400.0, index                                                  680600
question    hi i'm ellie thanks for coming in today i was ...
answer      [yeah, i, am, fine, um, pacific, grove, califo...
t_answer    [11, 3, 6, 283, 1, 3917, 5730, 234, 1, 25, 248...
Name: 400.0, dtype: object)
(401.0, index                                                  645879
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, okay, i, am, good, i, am, little,...
t_answer    [39, 3, 6, 64, 3, 6, 16, 3, 6, 30, 195, 3, 6, ...
Name: 401.0, dtype: object)
(402.0, index                                                  500970
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, okay, atlanta, georgia, um, two, thousan...
t_answer    [39, 64, 1634, 1997, 1, 75, 418, 280, 85, 2, 5...
Name: 402.0, dtype: object)
(403.0, index                                                  622821
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, really, good, i, am, granada, hil...
t_answer    [39, 3, 6, 7, 16, 3, 6, 5776, 1057, 234, 1, 46...
Name: 403.0, dtype: object)
(404.0, index                                                  653884
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, good, new, york, city, well, uh, origina...
t_answer    [39, 16, 76, 420, 230, 15, 2, 531, 336, 2, 543...
Name: 404.0, dtype: object)
(405.0, index                                                  616788
question    hi i'm ellie thanks for coming in today i was ...
answer      [hello, yes, okay, bad, i, am, chicago, south,...
t_answer    [2391, 39, 64, 106, 3, 6, 850, 783, 423, 1, 43...
Name: 405.0, dtype: object)
(406.0, index                                                  587282
question    hi i'm ellie thanks for coming in today i was ...
answer      [laughter, yes, i, am, good, i, am, originally...
t_answer    [8, 39, 3, 6, 16, 3, 6, 531, 1099, 234, 5, 1, ...
Name: 406.0, dtype: object)
(407.0, index                                                  478390
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, clears, throat, i, am, actually, feel, f...
t_answer    [39, 166, 161, 3, 6, 67, 28, 497, 28, 23, 16, ...
Name: 407.0, dtype: object)
(408.0, index                                                  622031
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, great, originally, venezuela, two...
t_answer    [39, 3, 6, 84, 531, 5858, 75, 22, 181, 39, 1, ...
Name: 408.0, dtype: object)
(409.0, index                                                  520734
question    hi i'm ellie thanks for coming in today i was ...
answer      [okay, mm, okay, sure, mm, okay, i, am, uh, l,...
t_answer    [64, 33, 64, 97, 33, 64, 3, 6, 2, 112, 94, 11,...
Name: 409.0, dtype: object)
(410.0, index                                                  649116
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, uh, i, am, fine, today, today, daughter,...
t_answer    [39, 2, 3, 6, 283, 247, 247, 205, 675, 234, 39...
Name: 410.0, dtype: object)
(411.0, index                                                  600454
question    hi i'm ellie thanks for coming in today i was ...
answer      [sure, pretty, good, new, york, uh, moved, l, ...
t_answer    [97, 23, 16, 76, 420, 2, 245, 112, 94, 978, 11...
Name: 411.0, dtype: object)
(412.0, index                                                  740993
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, okay, originally, texas, oh, week, ago, ...
t_answer    [39, 64, 531, 860, 46, 148, 58, 2, 15, 3, 13, ...
Name: 412.0, dtype: object)
(413.0, index                                                  656172
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, okay, i, am, greenwich, connectic...
t_answer    [39, 3, 6, 64, 3, 6, 6001, 2771, 39, 1, 245, 7...
Name: 413.0, dtype: object)
(414.0, index                                                  559980
question    hi i'm ellie thanks for coming in today i was ...
answer      [yeah, i, am, okay, burbank, california, yeah,...
t_answer    [11, 3, 6, 64, 6021, 234, 11, 142, 353, 12, 33...
Name: 414.0, dtype: object)
(415.0, index                                                  693600
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, good, michigan, two, year, ago, u...
t_answer    [39, 3, 6, 16, 1437, 75, 22, 58, 1, 139, 138, ...
Name: 415.0, dtype: object)
(416.0, index                                                  792880
question    hi i'm ellie thanks for coming in today i was ...
answer      [sure, i, am, good, chicago, yeah, twenty, fiv...
t_answer    [97, 3, 6, 16, 850, 11, 172, 212, 22, 58, 11, ...
Name: 416.0, dtype: object)
(417.0, index                                                  601760
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, okay, uh, los, angeles, laughter,...
t_answer    [39, 3, 6, 64, 2, 224, 238, 8, 1, 4, 8, 1, 41,...
Name: 417.0, dtype: object)
(418.0, index                                                  710400
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, okay, born, mississippi, um, two,...
t_answer    [39, 3, 6, 64, 336, 2138, 1, 75, 348, 22, 181,...
Name: 418.0, dtype: object)

(419.0, index                                                  601083
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, good, thank, um, born, mexico, ci...
t_answer    [39, 3, 6, 16, 173, 1, 336, 560, 230, 39, 1, 4...
Name: 419.0, dtype: object)
(420.0, index                                                  894567
question    hi i'm ellie thanks for coming in today i was ...
answer      [mm, yes, um, i, am, okay, chicago, um, back, ...
t_answer    [33, 39, 1, 3, 6, 64, 850, 1, 43, 1000, 22, 33...
Name: 420.0, dtype: object)
(421.0, index                                                  815430
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, that, fine, i, am, okay, laughter, origi...
t_answer    [39, 20, 283, 3, 6, 64, 8, 531, 3, 6, 466, 898...
Name: 421.0, dtype: object)
(422.0, index                                                  684915
question    hi i'm ellie thanks for coming in today i was ...
answer      [hi, sure, alright, uh, originally, originally...
t_answer    [1675, 97, 422, 2, 531, 531, 3, 6, 2, 2471, 12...
Name: 422.0, dtype: object)
(423.0, index                                                  798660
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, well, los, angeles, greater, los,...
t_answer    [39, 3, 6, 15, 224, 238, 2946, 224, 238, 274, ...
Name: 423.0, dtype: object)
(424.0, index                                                  715428
question    hi i'm ellie thanks for coming in today i was ...
answer      [hi, yes, today, wonderful, day, absolutely, m...
t_answer    [1675, 39, 247, 607, 42, 1046, 6159, 336, 2580...
Name: 424.0, dtype: object)
(425.0, index                                                  690483
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, okay, i, am, feeling, little, tir...
t_answer    [39, 3, 6, 64, 3, 6, 96, 30, 195, 2, 979, 1, 1...
Name: 425.0, dtype: object)
(426.0, index                                                  786279
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, alright, south, l, a, um, weather...
t_answer    [39, 3, 6, 422, 783, 112, 94, 1, 142, 503, 334...
Name: 426.0, dtype: object)
(427.0, index                                                  802561
question    hi i'm ellie thanks for coming in today i was ...
answer      [yeah, sure, i, am, good, i, am, florida, orig...
t_answer    [11, 97, 3, 6, 16, 3, 6, 826, 531, 123, 46, 1,...
Name: 427.0, dtype: object)
(428.0, index                                                  870485
question    hi i'm ellie thanks for coming in today i was ...
answer      [laughter, yeah, i, am, good, i, am, he, um, l...
t_answer    [8, 11, 3, 6, 16, 3, 6, 124, 1, 224, 238, 166,...
Name: 428.0, dtype: object)
(429.0, index                                                 1022967
question    hi i'm ellie thanks for coming in today i was ...
answer      [i, am, good, yes, i, am, good, iowa, uh, two,...
t_answer    [3, 6, 16, 39, 3, 6, 16, 3138, 2, 75, 418, 24,...
Name: 429.0, dtype: object)
(430.0, index                                                  791958
question    hi i'm ellie thanks for coming in today i was ...
answer      [yeah, sure, i, am, fine, thank, los, angeles,...
t_answer    [11, 97, 3, 6, 283, 173, 224, 238, 15, 68, 157...
Name: 430.0, dtype: object)
(431.0, index                                                  924220
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, fine, um, florida, um, two, three...
t_answer    [39, 3, 6, 283, 1, 826, 1, 75, 138, 163, 58, 4...
Name: 431.0, dtype: object)
(432.0, index                                                  942599
question    hi i'm ellie thanks for coming in today i was ...
answer      [i, am, cool, fine, new, york, yep, eh, six, m...
t_answer    [3, 6, 242, 283, 76, 420, 714, 101, 280, 163, ...
Name: 432.0, dtype: object)
(433.0, index                                                  907630
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, good, born, lynwood, like, sights...
t_answer    [39, 3, 6, 16, 336, 6293, 5, 2988, 2078, 855, ...
Name: 433.0, dtype: object)
(434.0, index                                                  806850
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, good, today, i, am, originally, c...
t_answer    [39, 3, 6, 16, 247, 3, 6, 531, 850, 2338, 245,...
Name: 434.0, dtype: object)
(435.0, index                                                  888593
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, okay, um, santiago, chile, mm, permanent...
t_answer    [39, 64, 1, 6343, 4098, 33, 4099, 511, 978, 34...
Name: 435.0, dtype: object)
(436.0, index                                                  862443
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, fine, uh, mexico, uh, young, seve...
t_answer    [39, 3, 6, 283, 2, 560, 2, 314, 341, 22, 181, ...
Name: 436.0, dtype: object)
(437.0, index                                                  857649
question    hi i'm ellie thanks for coming in today i was ...
answer      [mm, yes, mm, i, am, pretty, good, uh, born, l...
t_answer    [33, 39, 33, 3, 6, 23, 16, 2, 336, 224, 238, 1...
Name: 437.0, dtype: object)
(438.0, index                                                  586233
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, pretty, good, born, raised, right...
t_answer    [39, 3, 6, 23, 16, 336, 471, 47, 224, 238, 25,...
Name: 438.0, dtype: object)
(439.0, index                                                  678198
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, fine, i, am, los, angeles, born, ...
t_answer    [39, 3, 6, 283, 3, 6, 224, 238, 336, 224, 238,...
Name: 439.0, dtype: object)
(440.0, index                                                  872625
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, okay, thank, um, born, east, los,...
t_answer    [39, 3, 6, 64, 173, 1, 336, 622, 224, 238, 39,...
Name: 440.0, dtype: object)
(441.0, index                                                 1048389
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, fine, thank, los, angeles, califo...
t_answer    [39, 3, 6, 283, 173, 224, 238, 234, 943, 14, 6...
Name: 441.0, dtype: object)
(442.0, index                                                  828988
question    hi i'm ellie thanks for coming in today i was ...
answer      [sure, day, uh, pretty, well, except, drab, we...
t_answer    [97, 42, 2, 23, 15, 772, 6483, 142, 531, 3, 6,...
Name: 442.0, dtype: object)
(443.0, index                                                  868718
question    hi i'm ellie thanks for coming in today i was ...
answer      [sure, good, indiana, um, weather, like, weath...
t_answer    [97, 16, 1561, 1, 142, 5, 142, 2, 85, 1, 79, 1...
Name: 443.0, dtype: object)
(444.0, index                                                  828324
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, fine, i, am, well, today, feel, g...
t_answer    [39, 3, 6, 283, 3, 6, 15, 247, 28, 16, 247, 2,...
Name: 444.0, dtype: object)
(445.0, index                                                  810285
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, feel, great, los, angeles, california, u...
t_answer    [39, 28, 84, 224, 238, 234, 1, 142, 334, 641, ...
Name: 445.0, dtype: object)
(446.0, index                                                  710101
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, wonderful, california, mhm, yes, ...
t_answer    [39, 3, 6, 607, 234, 123, 39, 142, 24, 210, 2,...
Name: 446.0, dtype: object)
(447.0, index                                                  784235
question    hi i'm ellie thanks for coming in today i was ...
answer      [yeah, that, perfectly, fine, i, am, feeling, ...
t_answer    [11, 20, 6590, 283, 3, 6, 96, 84, 2, 455, 277,...
Name: 447.0, dtype: object)

(448.0, index                                                  647130
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, pretty, good, oh, born, uh, brooklyn, ne...
t_answer    [39, 23, 16, 46, 336, 2, 6611, 76, 420, 231, 3...
Name: 448.0, dtype: object)
(449.0, index                                                  721264
question    hi i'm ellie thanks for coming in today i was ...
answer      [okay, yes, i, am, good, thank, laughter, orig...
t_answer    [64, 39, 3, 6, 16, 173, 8, 531, 224, 238, 131,...
Name: 449.0, dtype: object)
(450.0, index                                                  951560
question    hi i'm ellie thanks for coming in today i was ...
answer      [okay, i, am, okay, sure, i, am, well, reasona...
t_answer    [64, 3, 6, 64, 97, 3, 6, 15, 2112, 15, 3, 6, 1...
Name: 450.0, dtype: object)
(452.0, index                                                  885891
question    hi i'm ellie thanks for coming in today i was ...
answer      [mm, maybe, okay, i, am, california, sun, ther...
t_answer    [33, 65, 64, 3, 6, 234, 905, 57, 1295, 228, 12...
Name: 452.0, dtype: object)
(453.0, index                                                 1193742
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, good, uh, los, angeles, mhm, conv...
t_answer    [39, 3, 6, 16, 2, 224, 238, 123, 2915, 2915, 2...
Name: 453.0, dtype: object)
(454.0, index                                                 1276800
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, great, houston, texas, young, every, yea...
t_answer    [39, 84, 2595, 860, 314, 139, 22, 30, 82, 1610...
Name: 454.0, dtype: object)
(455.0, index                                                  759097
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, well, uh, ohio, mhm, uh, finished, schoo...
t_answer    [39, 15, 2, 1697, 123, 2, 861, 59, 231, 244, 2...
Name: 455.0, dtype: object)
(456.0, index                                                  935750
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, well, thank, uh, boston, massachu...
t_answer    [39, 3, 6, 15, 173, 2, 1358, 2793, 39, 245, 11...
Name: 456.0, dtype: object)
(457.0, index                                                  929100
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, spectacular, interesting, experiment, la...
t_answer    [39, 6764, 415, 2636, 8, 2, 3, 6, 545, 2466, 3...
Name: 457.0, dtype: object)
(459.0, index                                                 1134861
question    hi i'm ellie thanks for coming in today i was ...
answer      [hello, yeah, i, am, alright, little, tired, u...
t_answer    [2391, 11, 3, 6, 422, 30, 195, 2, 133, 1563, 2...
Name: 459.0, dtype: object)
(461.0, index                                                 1092720
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, okay, los, angeles, like, art, li...
t_answer    [39, 3, 6, 64, 224, 238, 5, 270, 5, 142, 5, 14...
Name: 461.0, dtype: object)
(462.0, index                                                  834009
question    hi i'm ellie thanks for coming in today i was ...
answer      [yeah, i, am, okay, uh, i, am, los, angeles, m...
t_answer    [11, 3, 6, 64, 2, 3, 6, 224, 238, 123, 46, 1, ...
Name: 462.0, dtype: object)
(463.0, index                                                 1016760
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, pretty, good, uh, born, los, angeles, ca...
t_answer    [39, 23, 16, 2, 336, 224, 238, 234, 39, 1, 5, ...
Name: 463.0, dtype: object)
(464.0, index                                                 1061653
question    hi i'm ellie thanks for coming in today i was ...
answer      [mhm, um, i, am, good, mhm, um, l, a, l, los, ...
t_answer    [123, 1, 3, 6, 16, 123, 1, 112, 94, 112, 224, ...
Name: 464.0, dtype: object)
(465.0, index                                                 1275318
question    hi i'm ellie thanks for coming in today i was ...
answer      [yeah, cool, i, am, hanging, know, adventure, ...
t_answer    [11, 242, 3, 6, 530, 4, 849, 2219, 1563, 230, ...
Name: 465.0, dtype: object)
(466.0, index                                                 1167885
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, uh, okay, laughter, los, angeles, weathe...
t_answer    [39, 2, 64, 8, 224, 238, 142, 1, 943, 1, 401, ...
Name: 466.0, dtype: object)
(467.0, index                                                 1123547
question    hi i'm ellie thanks for coming in today i was ...
answer      [yeah, i, am, okay, uh, feel, feel, pretty, go...
t_answer    [11, 3, 6, 64, 2, 28, 28, 23, 16, 30, 112, 30,...
Name: 467.0, dtype: object)
(468.0, index                                                  893622
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, okay, i, am, pretty, good, feelin...
t_answer    [39, 3, 6, 64, 3, 6, 23, 16, 96, 30, 195, 2, 9...
Name: 468.0, dtype: object)
(469.0, index                                                 1070496
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, okay, l, a, mm, uh, there, lot, v...
t_answer    [39, 3, 6, 64, 112, 94, 33, 2, 57, 19, 943, 1,...
Name: 469.0, dtype: object)
(470.0, index                                                 1117074
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, okay, i, am, los, angeles, califo...
t_answer    [39, 3, 6, 64, 3, 6, 224, 238, 234, 227, 142, ...
Name: 470.0, dtype: object)
(471.0, index                                                  922875
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, well, thank, los, l, los, angeles...
t_answer    [39, 3, 6, 15, 173, 224, 112, 224, 238, 33, 51...
Name: 471.0, dtype: object)
(472.0, index                                                 1022010
question    hi i'm ellie thanks for coming in today i was ...
answer      [sure, i, am, well, thank, southern, californi...
t_answer    [97, 3, 6, 15, 173, 1099, 234, 142, 25, 2, 589...
Name: 472.0, dtype: object)
(473.0, index                                                 1136310
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, good, new, jersey, five, year, ago, bout...
t_answer    [39, 16, 76, 2176, 212, 22, 58, 1030, 22, 1, 5...
Name: 473.0, dtype: object)
(474.0, index                                                 1129713
question    okayhi i'm ellie thanks for coming in today i ...
answer      [yes, i, am, good, uh, born, hawaii, grew, col...
t_answer    [39, 3, 6, 16, 2, 336, 840, 406, 873, 11, 11, ...
Name: 474.0, dtype: object)
(475.0, index                                                  875808
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, good, thank, el, segundo, right, street,...
t_answer    [39, 16, 173, 2339, 7120, 47, 827, 203, 731, 6...
Name: 475.0, dtype: object)
(476.0, index                                                 1031550
question    hi i'm ellie thanks for coming in today i was ...
answer      [uh, yeah, sure, laughter, i, am, alright, uh,...
t_answer    [2, 11, 97, 8, 3, 6, 422, 2, 3, 6, 797, 882, 4...
Name: 476.0, dtype: object)
(477.0, index                                                 1023309
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, thanks, i, am, well, thank, grew, oklaho...
t_answer    [39, 557, 3, 6, 15, 173, 406, 1445, 123, 1, 24...
Name: 477.0, dtype: object)
(478.0, index                                                 1126386
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, uh, good, thanks, east, coast, work, uh,...
t_answer    [39, 2, 16, 557, 622, 670, 53, 2, 1142, 1234, ...
Name: 478.0, dtype: object)
(479.0, index                                                 1343472
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, okay, l, a, uh, smog, traffic, ticket, h...
t_answer    [39, 64, 112, 94, 2, 731, 197, 1197, 176, 965,...
Name: 479.0, dtype: object)

(481.0, index                                                 1197225
question    hi i'm ellie thanks for coming in today i was ...
answer      [yeah, um, good, moderate, los, angeles, yeah,...
t_answer    [11, 1, 16, 3087, 224, 238, 11, 3, 6, 1, 19, 3...
Name: 481.0, dtype: object)
(482.0, index                                                 1033972
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, fine, born, texas, moved, califor...
t_answer    [39, 3, 6, 283, 336, 860, 245, 234, 138, 406, ...
Name: 482.0, dtype: object)
(483.0, index                                                 1239228
question    hi i'm ellie thanks for coming in today i was ...
answer      [sure, laughter, mm, good, guess, new, orleans...
t_answer    [97, 8, 33, 16, 35, 76, 1777, 2105, 2, 75, 418...
Name: 483.0, dtype: object)
(484.0, index                                                 1088738
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, well, born, oakland, um, sigh, di...
t_answer    [39, 3, 6, 15, 336, 7242, 1, 25, 38, 274, 230,...
Name: 484.0, dtype: object)
(485.0, index                                                 1094514
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, bad, i, am, little, tired, okay, ...
t_answer    [39, 3, 6, 106, 3, 6, 30, 195, 64, 2, 1632, 22...
Name: 485.0, dtype: object)
(486.0, index                                                 1085775
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, feel, great, saint, louis, missou...
t_answer    [39, 3, 6, 28, 84, 1632, 2245, 4289, 336, 471,...
Name: 486.0, dtype: object)
(487.0, index                                                 1076811
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, fine, thank, detroit, michigan, y...
t_answer    [39, 3, 6, 283, 173, 1744, 1437, 39, 245, 112,...
Name: 487.0, dtype: object)
(488.0, index                                                  921060
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, fine, oh, san, fernando, valley, uh, wel...
t_answer    [39, 283, 46, 466, 2200, 1439, 2, 15, 7, 5, 29...
Name: 488.0, dtype: object)
(489.0, index                                                 1248990
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, i, am, well, thank, san, luis, obispo, y...
t_answer    [39, 3, 6, 15, 173, 466, 7313, 7314, 39, 207, ...
Name: 489.0, dtype: object)
(490.0, index                                                 1122862
question    hi i'm ellie thanks for coming in today i was ...
answer      [yeah, i, am, already, northern, illinois, two...
t_answer    [11, 3, 6, 454, 2227, 2338, 75, 348, 22, 58, 5...
Name: 490.0, dtype: object)
(491.0, index                                                 1262675
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, huh, overwhelmed, funeral, attend, tomor...
t_answer    [39, 417, 1010, 2187, 2321, 4004, 370, 490, 56...
Name: 491.0, dtype: object)
(492.0, index                                                 1120125
question    hi i'm ellie thanks for coming in today i was ...
answer      [yes, pretty, good, thank, maryland, yes, eigh...
t_answer    [39, 23, 16, 173, 1367, 39, 601, 212, 11, 11, ...
Name: 492.0, dtype: object)

In [22]:

phrases_lp.head()
phrases_lp.to_csv(data_path + 'phrases_lp.csv', sep='\t')
print("File was created")

NameError: name 'phrases_lp' is not defined

In [58]:
phrases_lp["t_answer"] = pad_sequences(phrases_lp["t_answer"], value=0, padding="post", maxlen=windows_size).tolist()
phrases_lp.head()

,personId,answer,t_answer
0,302.0,"[i, am, fine, i, am, los, angeles, california,...","[4, 6, 198, 4, 6, 234, 284, 152, 199, 67]"
1,302.0,"[am, fine, i, am, los, angeles, california, pa...","[6, 198, 4, 6, 234, 284, 152, 199, 67, 2]"
2,302.0,"[fine, i, am, los, angeles, california, part, ...","[198, 4, 6, 234, 284, 152, 199, 67, 2, 58]"
3,302.0,"[i, am, los, angeles, california, part, okay, ...","[4, 6, 234, 284, 152, 199, 67, 2, 58, 33]"
4,302.0,"[am, los, angeles, california, part, okay, um,...","[6, 234, 284, 152, 199, 67, 2, 58, 33, 828]"

In [59]:
phrases_lp_stop.to_csv(data_path + 'phrases_lp_stop.csv', sep='\t')
print("File was created")

File was created

In [60]:
phrases_lp = pd.read_csv(data_path + 'phrases_lp.csv', sep='\t', converters={"t_answer": literal_eval}) 
phrases_lp.head()

,Unnamed: 0,personId,answer,t_answer
0,0,302.0,"['i', 'am', 'fine', 'i', 'am', 'los', 'angeles...","[4, 6, 198, 4, 6, 234, 284, 152, 199, 67]"
1,1,302.0,"['am', 'fine', 'i', 'am', 'los', 'angeles', 'c...","[6, 198, 4, 6, 234, 284, 152, 199, 67, 2]"
2,2,302.0,"['fine', 'i', 'am', 'los', 'angeles', 'califor...","[198, 4, 6, 234, 284, 152, 199, 67, 2, 58]"
3,3,302.0,"['i', 'am', 'los', 'angeles', 'california', 'p...","[4, 6, 234, 284, 152, 199, 67, 2, 58, 33]"
4,4,302.0,"['am', 'los', 'angeles', 'california', 'part',...","[6, 234, 284, 152, 199, 67, 2, 58, 33, 828]"

In [61]:

def load_avec_dataset_file(path, score_column):
    ds = pd.read_csv(path, sep=',')
    ds['level'] = pd.cut(ds[score_column], bins=[-1,0,5,10,15,25], labels=[0,1,2,3,4])
    ds['PHQ8_Score'] = ds[score_column]
    ds['cat_level'] = keras.utils.to_categorical(ds['level'], num_classes).tolist()
    ds = ds[['Participant_ID', 'level', 'cat_level', 'PHQ8_Score']]
    ds = ds.astype({"Participant_ID": float, "level": int, 'PHQ8_Score': int})
    return ds

In [70]:
train = load_avec_dataset_file('E:/DIAC-WOZ/train_split_Depression_AVEC2017.csv', 'PHQ8_Score')
dev = load_avec_dataset_file('E:/DIAC-WOZ/dev_split_Depression_AVEC2017.csv', 'PHQ8_Score')
test = load_avec_dataset_file('E:/DIAC-WOZ/full_test_split.csv', 'PHQ_Score')
print("Size: train= {}, dev= {}, test= {}".format(len(train), len(dev), len(test)))
train.head()

Size: train= 107, dev= 35, test= 47

   Participant_ID  level                  cat_level  PHQ8_Score
0           303.0      0  [1.0, 0.0, 0.0, 0.0, 0.0]           0
1           304.0      2  [0.0, 0.0, 1.0, 0.0, 0.0]           6
2           305.0      2  [0.0, 0.0, 1.0, 0.0, 0.0]           7
3           310.0      1  [0.0, 1.0, 0.0, 0.0, 0.0]           4
4           312.0      1  [0.0, 1.0, 0.0, 0.0, 0.0]           2

In [71]:
ds_total = pd.concat([train,dev,test])
total_phq8 = len(ds_total)
print("Total size = {}".format(total_phq8))

Total size = 189